/*
* instructions concerning forms and input fields
*/

input {
	outline-width: 0;
	border: none;
	border: 2px solid $grey40; 
	height: 35px;
	font-size: 16px;
	border-radius: 3px;
	@include border-box; 
	padding: 3px;
	color: $grey50;
}

input[type="submit"] {
	cursor: pointer;
	border: none;
	background-color: $grey80;
	color: $white;
	font-size: 16px;
	padding: 3px;
	border-radius: 3px;
}
