
/**
  ('global') instructions for the Cubbard project  
  ============================================================================ */

.container, .welcome,
.login, .sign-up,
.user-utils, .user-profile,
.footer {
	width: 100%;
	max-width: 1000px;
	@include row;
	@include border-box;
	border-bottom: 1px solid $grey20;
}

.container {
	margin: 0 auto;
	border: none;
}

/**
  section.header  
  ============================================================================ */

.header { //the banner containing the "Cubbard" logo
	width: 100%;
	max-width: 1000px;
	height: 220px;
	@include border-box;
	padding: 10px 0;
	font-family: sans-serif;
	text-align: center;
	background-color: $grey80;

	h2 {
		color: $grey80;
	}
	img[role='mainLogo'] {
		cursor: pointer;
	}
}

[role="navigation"] {
	@include row;
	@include border-box;
	padding: 10px;
	margin-bottom: 5px;
}

/**
  general layout for forms and input fields  
  ============================================================================ */

input {
	outline-width: 0;
	border: none;
	border: 2px solid $grey40; 
	height: 35px;
	font-size: 16px;
	border-radius: 3px;
	@include border-box; 
	padding: 3px;
	color: $grey50;
}

input[type="submit"] {
	cursor: pointer;
	border: none;
	background-color: $grey80;
	color: $white;
	font-size: 16px;
	padding: 3px;
	border-radius: 3px;
}

/**
  welcome section  
  ============================================================================ */

.welcome {
	border-left: 1px solid $grey20;
	border-right: 1px solid $grey20;
	padding: 10px;
	background-color: $white;
	display: table;
}

/**
  footer section  
  ============================================================================ */

.footer {
	border-right: 1px solid $grey20;
	border-left: 1px solid $grey20;
	background-color: $white;
	margin: 0;
	padding: 10px;
	text-align: center;
}
