/*
* main content for the Cubbard
*/

.container, .welcome,
.login, .sign-up,
.user-utils, .user-profile,
.footer {
	width: 100%;
	max-width: 1000px;
	@include row;
	@include border-box;
	border-bottom: 1px solid $grey20;
}

.container {
	margin: 0 auto;
	border: none;
}

/*
* welcome section (for logged on user and index page
*/

.welcome {
	border-left: 1px solid $grey20;
	border-right: 1px solid $grey20;
	padding: 10px;
	background-color: $white;
	display: table;

}

ul[role='links'], ul[role='user-display'], ul[role='tool-box'] {
	list-style-type: none;
	display: table-cell;
	vertical-align: middle;
	padding: 0;

	li {
		display: inline;
		padding-right: 10px;

		h1 {
			color: $grey90;
			display: inline;
		}
	}

	a {
		text-decoration: none;
		color: $grey50;

		&:hover {
			color: $black;
			text-decoration: underline;
		}
	}
}

ul[role='links'] {
	text-align: right; 

	#slider {
		cursor: pointer;
	}
}

ul[role='user-display'] {
		text-align: left; 
}

ul[role='tool-box'] {

	li a[role='mail-box'] {
	 color: #f89c9c;

		&:hover {
			color: #f90a0a;
		}
	}
}

/*
* login section
*/

.login {
	border-left: 1px solid $grey20;
	border-right: 1px solid $grey20;
	background-color: $white;
	padding: 10px;
	text-align: right;
}

h3[for="login"] {
	font-weight: bold;
	display: inline;
}

form[name="login"] {
	display: inline;
	margin: 0;

}

/*
* -- sign-up section --
*/

.sign-up {
	background-color: $white;
	border-right: 1px solid $grey20;
	border-left: 1px solid $grey20;

	& > div {
		@include border-box;
		padding: 19px;
	}
	.suWrap {
		width: columns(2.5);
		border-right: 1px solid $grey20;
	}
	.suDisplay {	
		width: columns(3.5);
		@include last;
	}

}

form[name="sign-up"] {

	input[type="text"], input[type="password"] {
		display: inline;
		margin-bottom: 10px;
		width: 95%;
	}
	input[name="fname"], input[name="lname"] {
		margin: 0 0 10px 0;
		width: 44.5%;
	}
	input[name="fname"] {
		margin-right: 0; 
	}
	input[name="lname"] {
		margin: 0;
	}
	input[type="submit"] {
		color: $white;
	}
	input[role='status'] {
		display: inline;
		color: red;
		font-size: 20px;
		font-weight: bold;
		font-family: "Times New Roman";
	}
}

/*
* user-utils section
*/

.user-utils {
	border-left: 1px solid $grey20;
	border-right: 1px solid $grey20;
	padding: 10px;
	background-color: $white;
	margin-bottom: 10px;
}

/*
* -- user-profile section --
*/

.user-profile {
	width: 100%;
	max-width: 1000px;
	border: 1px solid $grey20;
	margin-bottom: 10px;
	height: 777px;
	display: table;

	& > div {
		@include border-box;
		display: table-cell;
		margin: 0;
		height: 777px;
	}
	.user-info {
		min-width: 330px;
		border-right: 1px solid $grey20;
		background-color: $white;
		padding: 10px;
	}
	.user-feed {
		min-width: 668px;
		overflow-y: auto;
	}
}

div[role='feed-header'] {
	@include row;
	@include border-box;
	border-bottom: 1px solid $grey20;
	padding: 7px;
	background-color: $white;
	display: table;

	h1, form[name='feed-filter'] {
		vertical-align: middle;
		display: table-cell;
	}
	h1 {
		text-align: right;
		padding-right: 10px;
		font-size: 1.5em;
		margin-right: 10px;
	}
	form[name='feed-filter'] {
		margin: 0;
	}
}

/*
* -- footer --
*/

.footer {
	border-right: 1px solid $grey20;
	border-left: 1px solid $grey20;
	background-color: $white;
	margin: 0;
	padding: 10px;
	text-align: center;
}

/*
* universal rules for form input elements
*/


input[role='status'] {
	border: none;
	display: inline-block;
	margin: 0;
	height: 35px;
	width: 5%;
}

