/*
* Instructions regarding the website header
*/

.header { //the banner containing the "Cubbard" logo
	width: 100%;
	max-width: 1000px;
	height: 220px;
	@include border-box;
	padding: 10px 0;
	font-family: sans-serif;
	text-align: center;
	background-color: $grey80;

	h2 {
		color: $grey80;
	}
	img[role='mainLogo'] {
		cursor: pointer;
	}
}

[role="navigation"] {
	@include row;
	@include border-box;
	padding: 10px;
	margin-bottom: 5px;
}

ul[role="linkBar"] {
	list-style-type: none;
	display: inline;
	float: left;
	margin: 0;
	padding: 5px 0;
	text-align: right;

	li {
		display: inline;

		a {
			text-decoration: none;
		}
	}
}

form[role="search"] {
	display: inline;
	margin: 0;
	float: right;

	input[type="text"] {
		border: none;
	}
}
