body {
	margin: 0;
	padding: 0 10px 0 10px;
	background-color: $grey10;
	font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	color: $base-color;
	margin: 0;
	line-height: 2;
}

p {
	color: $grey60;
	margin: 0;
	line-height: $line-height;
}
