// define black, white and grey values
$black:		hsl(0, 0%, 0%);
$grey90:	hsl(0, 0%, 10%);
$grey80:	hsl(0, 0%, 20%);
$grey70:	hsl(0, 0%, 30%);
$grey60:	hsl(0, 0%, 40%);
$grey50:	hsl(0, 0%, 50%);
$grey40:	hsl(0, 0%, 60%);
$grey30:	hsl(0, 0%, 70%);
$grey20:	hsl(0, 0%, 80%);
$grey10:	hsl(0, 0%, 90%);
$white:		hsl(0, 0%, 100%);
// define variables for font
$line-height:	1.309;
$base-color: $grey90;
