body {
  margin: 0;
  padding: 0;
  background-color: #e6e6e6; }

h1, h2, h3, h4, h5, h6 {
  color: #1a1a1a;
  margin: 0;
  line-height: 2; }

p {
  color: #666666;
  margin: 0;
  line-height: 1.309; }

/*
* Instructions regarding the website header
*/
.header {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font-family: sans-serif;
  text-align: center;
  background-color: #666666; }

[role="navigation"] {
  padding: 10px;
  width: 100%;
  max-width: 1000px; }

ul[role="link-bar"] {
  list-style-type: none;
  display: inline;
  float: left;
  margin: 0;
  padding: 5px 0;
  text-align: right; }
  ul[role="link-bar"] li {
    display: inline; }
    ul[role="link-bar"] li a {
      text-decoration: none; }

form[role="search"] {
  display: inline;
  margin: 0;
  float: right; }
  form[role="search"] input[type="text"] {
    border: none; }

/*
* main content for the Cubbard
*/
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; }
